<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="userController" type="gamestudio.server.controller.UserController"*/-->

<div th:fragment="header">
    <span th:if="${@userController.logged}">
        Logged as: <span th:text="${@userController.loggedUser.login}"/>
        <a href="/logout">Logout</a><br/>
    </span>

    <span th:if="not ${@userController.logged}">
        Not logged. Please
        <a href="/">login or register</a>.<br/>
    </span>
</div>

<div th:fragment="footer">
    <hr/>
    <p style="text-align:center;">This is gamestudio!<br/>
    Developed by GOLPER.
</p>
</div>

</html>
